version: '3'
services:
  mysql:
    image: mysql:5.7
    entrypoint: ['/entrypoint.sh', '--character-set-server=utf8', '--collation-server=utf8_general_ci']
    environment:
      MYSQL_ROOT_PASSWORD: pass
    ports:
      - 3306:3306
    volumes:
      - ./data/:/docker-entrypoint-initdb.d
      - persistent:/var/lib/mysql
    networks:
      - default

  www:
      build: .
      ports:
        - "8080:80"
      volumes:
        - ./html:/var/www/html/
      links:
        - mysql
      networks:
        - default

volumes:
    persistent:
